/* body{ 
    background-color: wheat;
}*/
/* Margin Padding zero (reason browser set by default margin padding */
 
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Padding within the box*/
} 
/* Shared style */
/* Font (Opensans Design) */
.font-open-sans{
     background-color: #FFF8F3;
     font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    padding:18px 35px; /*top botton : 18px left-right: 35px */
    border-radius: 5px;/*corner radius:5px */
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer; /* cursor pointer */
}

/* Main style */
header{
    /* background-color: #FFF8F3; */
    padding-top: 50px;
}
main{
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left, bottom left;
}

nav{
     width:71%;
    max-width: 1140px;
    /* border: 1px solid rebeccapurple; */
    margin:0 auto;
    display: flex;
    justify-content: space-between;
     
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none; /* button list vanishes ('dot')*/
    align-items: center;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
    /* display: flex; */
.banner-content h2{
    font-size: 45px;
    font-weight :600;
    color:#474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 585px;
}

.banner-image img{
    max-width: 583px;
    vertical-align: middle; /* gap remove*/
}
}
