/* body{ 
    background-color: wheat;
}*/
/* Margin Padding zero (reason browser set by default margin padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Padding within the box */
}
/* Shared style */
/* Font (Opensans Design) */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    padding:18px 35px; /*top botton : 18px left-right: 35px */
    border-radius: 5px;/*corner radius:5px */
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
     width:71%;
    max-width: 1140px;
    /* border: 1px solid rebeccapurple; */
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none; /* button list vanishes ('dot')*/
    align-items: center;
}